* text=auto eol=lf
*.bat text eol=crlf
*.sln text eol=crlf
*.csproj text eol=crlf
*.props text eol=crlf
*.cs text eol=lf
*.ps1 text eol=lf
*.dll binary
*.exe binary
*.db binary
*.DB binary
*.abc binary
*.ico binary
*.bcmap binary
*.pfb binary
*.otf binary
*.ttf binary
*.wasm binary
